*{
    padding: 0;
    margin: 0;
    
}
img {
    max-width: 100%;
    height: auto;
}


.hero-section{
    background-image: url(IMG_20231222_163219.jpg);
    background-size: cover  ;
    background-blend-mode: overlay;
    background-position-x: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: relative;
    text-align: center ;
    
}
.hero-text{
    color: blanchedalmond;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}
.hero-text>h1{
    
    font-size: 88px;
    width: max-content;
    margin-bottom: 10px;
}
.hero-text>h1::first-letter{
    color: crimson;
    cursor: pointer;
}
.view-button,
.know-buttion{
    background-color: crimson;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    padding: 8px 8px 8px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.view-button:hover,
.know-buttion:hover{
    background-color:  rgb(192, 16, 51);
    transform: scale(1.05);
}
.fs-sm{
    font-size: 0.95rem;
}
.myself{
    float: left;
    width: 50%;
    text-align: center;
}

.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    width: fit-content;
}

.interst{
    justify-content: center;
    text-align: center;
}
.interst ul{
    display: inline-block;
    text-align: left;
}

.page {
    background-color: #2C2C2C;
    color: #FFFFF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    font-family: "Space Grotesk", sans-serif;
}


.profile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.foot-img {
    width: 24rem;
    right: 1rem;
    transform: translate(0%, -53.8%);
    position: absolute;
    margin: 0px;
}

.smedia {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%; 
}

.smedia-links {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.smedia-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.smedia-item img {
    width: 24px;
    height: 24px;
}

.smedia-item label {
    flex: 1;
    text-align: left;
}



ul li{
    margin-bottom: 0.8rem;
    list-style: none;
}
.topic {

    font-size: 1.3rem;
    text-align: center;
    margin: 1.5rem auto;
    font-style: italic;
    background-color: #f5f5f5; /* Light Gray */
    box-shadow: 0 4px 8px rgba(50, 50, 50, 0.2), 0 0 10px rgba(100, 100, 100, 0.4); /* Neutral shadow */              
    color: #5a3e2b; /* Warm and earthy for a unique style */
    padding: 9px;
    width: fit-content;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.certifications {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    align-items: flex-start;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    max-width: 400px; 
    margin: 10px;
    margin-top: 2rem;
    position: relative;
}
.no-style,
.no-style1:hover{
    color: inherit; 
    text-decoration: none;
}

.cr_img {
    position: absolute;
    top: -10%; 
    left: -2%; 
    width: 6rem; 
    background-color: rgb(103, 1, 1);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
}


.para {
    position: relative; 
    margin-top: 2rem;
    padding: 1.3rem;
    background: linear-gradient(0deg, rgba(134,0,0,1) 0%, rgba(31,0,0,1) 100%);
    border-bottom-right-radius: 5rem;
    box-shadow: 0 5px 10px rgba(65, 0, 37, 0.786);
    width: 100%; 
    font-size: 0.8rem;
    min-height: 18rem;
    color: aliceblue;
    padding-left: 3.5rem; 
    transition: all 1s ease;
}
.para:hover{
    background: linear-gradient(0deg,  rgba(31,0,0,1) 0%, rgba(134,0,0,1) 100%);

}

.para > h2 {
    margin: 0 0 10px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.dis{
    color: red;
    text-align: center;
}

.feedback{
    width: 3.5rem;
    padding: 0.8rem;
    border-radius: 50%;
    position: fixed;
    right: 7px;
    bottom: 7px;
    background-color: #2c2c2c5b;
    backdrop-filter: blur(3px);
    z-index: 1111;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    max-width: 75%;
    max-height: 75%;
    margin: auto;
    display: block;
    width: auto;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.hidden-content {
    display: none; 
}
.view-more-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: auto; /* Pushes the "View More" button to the bottom */
    margin-bottom: 4rem; /* Ensures there is space below the button */
}

.view-more {
    display: inline-block;

    margin-top: auto;
    margin-bottom: 4rem;
    padding: 10px 20px;
    background-color: #2c2c2c93;
    color: #FFFFF0;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.viewMoreBtn i {
    transition: transform 0.3s ease; 
}

.moreContent {
    display: block; 
}


/* animation */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.profile-container {
    opacity: 0;
    transform: translateX(-100%); 
    transition: opacity 0.9s ease;
}

.profile-container.visible {
    animation: slideInFromLeft 1.5s ease forwards;
}
